# application
*.apk
*.ap_

# dex VM
*.dex

# java
*.class

# generated
bin/
gen/

# gradle
build/
.gradle/

# local configuration
local.properties

# proguard
proguard/

# eclipse
.metadata/

# intelliJ
*.iml
.idea/

# studio
captures/
projectFilesBackup/

# mac OS X
.DS_Store

# windows
Thumbs.db
